.nav{
    width: 100%;
    background: #3D4348;
    color: #FDE44D;
    font-size: 18px;

}

.content{
    display: flex;
    padding-left:1.3rem ;
    align-items: center;
}

@media (max-width: 920px){
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

